{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Projects{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <p>
    <li>Module 1 Assignment: Personal Website</li>
  </br>
  This assignment teaches the fundamentals of web construction where we build a personal website to include a biography, contract information, and information on projects.
  </br>
    <a href="https://github.com/bernardguillermo6/jhu_software_concepts/tree/main/module_1" target="_blank">Github</a>
  </p>
{% endblock content %}